{% extends "baseTemplateNotification.html" %}

{% block content %}
    {% csrf_token %}
    <h3>Industrias Astivik le informa, que se realizo una transferencia el dia " + {{ NotificacionMessage.0.transactionDate }} + " a su cuenta bancaria No " + {{NotificacionMessage.0.accountNumber}} + "</h3>
    <p>Las facturas pagadas fueron las siguientes:</p>
    <table BORDER bordercolor="black" CELLPADDING=10 CELLSPACING=0>
        <tr>
            <th>No FACTURA</th>
            <th>VALOR NETO FACTURA</th>
            <th>VALOR RET ICA</th>
            <th>VALOR RET IVA</th>
            <th>VALOR RET RENTA</th>
            <th>VALOR PAGADO</th>
            <th>NOTA</th>
        </tr>
    {% for notificationContent in NotificacionMessage %}
        <tr>
            <th>{{ notificationContent.transactionDocumentType }} </th>
            <th>{{ notificationContent.totalValueInvoice }} </th>
            <th>{{ notificationContent.icaRetention }} </th>
            <th>{{ notificationContent.ivaRetention }} </th>
            <th>{{ notificationContent.rentaRetention }} </th>
            <th>{{ notificationContent.amountPaid }} </th>
            <th>{{ notificationContent.note }} </th>
        </tr>
        
    {% endfor %}
    </table>
{% endblock %}

{% block footer %}
    <p>Agradecemos distribuir esta informacion al personal de su empresa que le puedan ser util estos datos.</p>
    <footer><strong>POR FAVOR NO RESPONDER A ESTA CUENTA DE CORREO, NADIE MONITOREA ESTOS MENSAJES Y SE ELIMINAN AUTOMATICAMENTE.</strong></footer>
{% endblock %}