{% extends "baseTemplateNotification.html" %}
{% block title %}
    <title>Send Notification</title>
{% endblock %}
{% block content %}
    <h1>>>>> Notification Zone <<<<</h1>
    <form action="" method="post" enctype="multipart/form-data"s>
        {% csrf_token %}
        {{ formSendNotification.as_p }} 
        <input type="submit" value="Enviar Notificaciones" />
    </form>
{% endblock %}

{% block menu %}
    <a href="{% url 'index' %}">Home</a>
{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <h1>{{ message }}</h1> <br>
        {% endfor %}
        {{messages.clear}}
    {% endif %}
{% endblock %}