{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificacion Pagos Proveedores</title>
</head>
<body>
    <h1>>>>> Notification Zone <<<<</h1>

    <a href="{% url 'index' %}">Home</a>
</body>
</html>  {% endcomment %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Notificacion Pagos Proveedores</title>
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet"  href= "{% static 'notification/css/estilo_notification.css' %}">
    
</head>
    <body>
        
        <div class="contenedor">
                <div class="contenedor-logo">
                    <img src= "{% static 'notification/images/astivik.jpg' %}" alt="astivik ">
                </div>
                <h1>>>>> Notification Zone <<<<<</h1>
            <div class="contenedor-botones">
                <a href="{% url 'index' %}">
                    <button class="boton notification">
                        <div class="icono">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                            </svg>
                        </div>	
                        <span>HOME</span>
                    </button>
                </a>
            </div>   
        </div>
    </body>
</html>



