
{% extends "baseTemplateSupplier.html" %}
{% block title %}
    <title>Get Supplier</title>
{% endblock %}
{% block content %}
    {% csrf_token %}
    <h2>Informacion Proveedor</h2>
    <p><strong>{{ listEmailSupplier.0.taxIdentificationNumber }} -- {{ listEmailSupplier.0.companyName }}</strong></p>
    <p>Email registrados para notificacion:</p>
    <ul>
    {% for supplier in listEmailSupplier%}
        <li>{{ supplier.email }} </li>
    {% endfor %}
    </ul>
{% endblock %}
<br>
{% block menu %}
    <a href="{% url 'supplierIndex' %}">Back</a>
{% endblock %}
{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <h1>{{ message }}</h1> <br>
        {% endfor %}
        {{messages.clear}}
    {% endif %}
{% endblock %}
