
{% extends "baseTemplateSupplier.html" %}
{% block title %}
    <title>Search Supplier</title>
{% endblock %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ formSearchSupplier.as_p }} 
        <input type="submit" value="Consultar" />
    </form>
{% endblock %}

{% block menu %}
    <a href="{% url 'supplierIndex' %}">Back</a>
{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <h1>{{ message }}</h1> <br>
        {% endfor %}
        {{messages.clear}}
    {% endif %}
{% endblock %}